{% extends "base.html" %}
{% block content %}
<div class="row">
    <h4>用户管理</h4>
    <hr/>
</div>
<div class="row">
    <button class="btn btn-sm btn-default select-all">全选</button>
    <button class="btn btn-sm btn-default cancel-all">取消</button>
    <button class="btn btn-sm btn-danger del-all" url="/user/delete" back_url="/user/index">删除
    </button>
    <table class="table table-hover table-bordered table-set">
        <tr>
            <th>&nbsp;</th>
            <th>用户ID</th>
            <th>用户名</th>
            <th>昵称</th>
            <th>性别</th>
            <th>头像</th>
            <th>邮箱</th>
            <th>地址</th>
            <th>学校/公司</th>
            <th>余额(E点币)</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        {% for user in users %}
        <tr>
            <td><input type="checkbox" name="list-checked" value="{{ user.user_id }}"/></td>
            <td>{{ user.user_id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.nickname }}</td>
            <td>{{ user.sex }}</td>
            <td><img src="{{ user.avatar }}" width="30px" height="30px"/></td>
            <td>{{ user.email }}</td>
            <td>{{ user.province }}{{ user.city }}</td>
            <td>{{ user.org }}</td>
            <td>{{ user.e_points }}</td>
            <td>{{ user.is_active }}</td>
            <td>{{ user.updated_at }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                <a class="btn btn-sm btn-info" href="/user/update/user_id/{{ user.user_id }}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a> |
                <button class="btn btn-sm btn-danger del-btn" url="/user/delete"
                        back_url="/user/index" id={{ user.user_id }}>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="row">
    {% autoescape %}
    {{ paginator |raw }}
    {% endautoescape %}
</div>
{% endblock %}