{% extends "base.html" %}
{% block content %}
<div class="row">
    <a class="btn btn-primary" href="/user/index">返回</a>
</div>
<br/>
<div calss="row">
    <form class="form-horizontal" action="/user/doUpdate" method="post">
        <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">用户ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="user_id" name="user_id" placeholder="用户ID" maxlength="50"
                       value="{{ user.user_id }}" readonly required>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="用户名" maxlength="50"
                       value="{{ user.username }}" readonly required>
            </div>
        </div>
        <div class="form-group">
            <label for="nickname" class="col-sm-2 control-label">昵称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称" maxlength="50"
                       value="{{ user.nickname }}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
                <input type="radio" name="sex" value="1" {% if user.sex== 1 %}checked{% endif %}/>男&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="sex" value="2" {% if user.sex== 2 %}checked{% endif %}/>女
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">头像</label>
            <div class="col-sm-10">
                <a href="/user/avatar/user_id/{{ user.user_id }}"><img src="{{ user.avatar }}" width="30px"
                                                                                 height="30px"/></a>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" placeholder="邮箱"
                       value="{{ user.email }}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">地址</label>
            <div class="col-sm-10">
                <select class="add-select" name="province" pro_name="{{ user.province }}" id="pro"></select>
                <select class="add-select" name="city" city_name="{{ user.city }}" id="city"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="org" class="col-sm-2 control-label">公司/学校</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="org" name="org" placeholder="公司学校" maxlength="50"
                       value="{{ user.org }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="intro" class="col-sm-2 control-label">简介</label>
            <div class="col-sm-10">
                <textarea id="intro" class="intro" name="intro" cols="50" rows="3" placeholder="可以简单的描述自己">{{ user.intro }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="e_points" class="col-sm-2 control-label">账户余额(E点币)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="e_points" name="e_points" placeholder="账户余额(E点币)"
                       maxlength="50" value="{{ user.e_points }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="is_active" class="col-sm-2 control-label">用户状态</label>
            <div class="col-sm-10">
                <select name="is_active" id="is_active">
                    <option value="0" {% if user.is_active== 0 %}selected{% endif %}>未激活</option>
                    <option value="1" {% if user.is_active== 1 %}selected{% endif %}>已激活</option>
                </select>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-sm-2 control-label">隐私设置</label>
            <div class="col-sm-10">
                <table class="table">
                    <tr>
                        <td class="set-lable">邮箱</td>
                        <td class="set-pri">
                            <input type="radio" name="pri_email" value="0" {% if user.pri_email== 0 %}checked{% endif
                                   %}/>不可见&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="pri_email" value="1" {% if user.pri_email== 1 %}checked{% endif
                                   %}/>可见
                        </td>
                    </tr>
                    <tr>
                        <td class="set-lable">学校/公司</td>
                        <td class="set-pri">
                            <input type="radio" name="pri_org" value="0" {% if user.pri_org== 0 %}checked{% endif %}/>不可见&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" name="pri_org" value="1" {% if user.pri_org== 1 %}checked{% endif %}/>可见
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary ">修改</button>
                <button type="reset" class="btn btn-default">重置</button>
            </div>
        </div>
    </form>
</div>
<script language="JavaScript" src="../../../../public/js/address.js"></script>
{% endblock %}
