{% extends "base.html" %}
{% block content %}
<div class="row">
    <h4>评论管理</h4>
    <hr/>
</div>

<div class="row">
    <button class="btn btn-sm btn-default select-all">全选</button>
    <button class="btn btn-sm btn-default cancel-all">取消</button>
    <button class="btn btn-sm btn-danger del-all" url="/comment/delete" back_url="/comment/index">
        删除
    </button>
    <table class="table table-hover table-bordered table-set">
        <tr>
            <th>&nbsp;</th>
            <th>评论ID</th>
            <th>用户ID</th>
            <th>项目ID</th>
            <th>内容</th>
            <th>审核状态</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td><input type="checkbox" name="list-checked" value="{{ comment.com_id }}"/></td>
            <td>{{ comment.com_id }}</td>
            <td>{{ comment.user_id }}</td>
            <td>{{ comment.pro_id }}</td>
            <td>{{ comment.comment }}</td>
            <td>{{ comment.status }}</td>
            <td>{{ comment.updated_at }}</td>
            <td>{{ comment.created_at }}</td>
            <td>
                <button class="btn btn-sm btn-danger del-btn" url="/comment/delete"
                        back_url="/comment/lists" id={{ comment.com_id }}>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="row">
    {% autoescape %}
    {{ paginator |raw }}
    {% endautoescape %}
</div>

{% endblock %}