{% extends "base.html" %}
{% block content %}
<div class="row">
    <a class="btn btn-primary" href="/site/index">返回</a>
</div>
<br/>
<div calss="row">
    <form class="form-horizontal" action="/site/doUpdate" method="post">
        {% for key in siteKeys %}
        <div class="form-group">
            <label for="{{ key.key_name }}" class="col-sm-2 control-label">{{ key.key_title }}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="{{ key.key_name }}" name="{{ key.key_name }}"
                       placeholder="{{ key.key_title }}" maxlength="255" value="{{ key.key_value }}" required>
            </div>
        </div>
        {% endfor %}
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary ">修改</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
