{% extends "base.html" %}
{% block content %}
<div class="row">
    <a class="btn btn-primary" href="/order/index">返回</a>
</div>
<br/>
<div calss="row">
    <form class="form-horizontal" action="/order/doUpdate" method="post">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">订单ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" name="id" placeholder="订单ID" maxlength="50"
                       value="{{ order.id }}" readonly required>
            </div>
        </div>
        <div class="form-group">
            <label for="order_num" class="col-sm-2 control-label">转账单号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="order_num" name="order_num" placeholder="转账单号"
                       maxlength="50" value="{{ order.order_num }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="amount" class="col-sm-2 control-label">金额</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="amount" name="amount" placeholder="金额" maxlength="50"
                       value="{{ order.amount }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">用户Id</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="user_id" name="user_id" placeholder="用户Id" maxlength="50"
                       value="{{ order.user_id }}" readonly required>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">订单类型</label>
            <div class="col-sm-10">
                <select name="type" id="type">
                    {% for type,type_name in order_types %}
                    <option value={{ type }} {% if order.type== type %}selected {% endif %}>{{ type_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">订单状态</label>
            <div class="col-sm-10">
                <select name="status" id="status">
                    {% for status,status_name in order_status %}
                    <option value={{ status }} {% if order.status== status %}selected {% endif %}>{{ status_name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">备注</label>
            <div class="col-sm-10">
                <textarea id="remark" class="intro" name="remark" cols="50" rows="3"
                          placeholder="备注">{{ order.remark }}</textarea>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary ">修改</button>
                <button type="reset" class="btn btn-default">重置</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
