{% extends "base.html" %}
{% block content %}

<!-- 编辑器 -->
<script language="JavaScript" src="{{ BASE_URL }}public/summernote/summernote.min.js"></script>
<script language="JavaScript" src="{{ BASE_URL }}public/summernote/lang/summernote-zh-CN.min.js"></script>
<link href="{{ BASE_URL }}public/summernote/summernote.css" rel="stylesheet" type="text/css"/>
<!--web uploader-->
<link rel="stylesheet" type="text/css" href="{{ BASE_URL }}public/webuploader/webuploader.css">
<link rel="stylesheet" type="text/css" href="{{ BASE_URL }}public/css/webuploader.css">

<div class="row">
    <a class="btn btn-primary" href="/project/index">返回</a>
</div>
<br/>
<div calss="row">
    <form class="form-horizontal" action="/project/doUpdate" method="post">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">项目名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="项目名称" maxlength="50"
                       value="{{ project.name }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-2 control-label">项目类型</label>
            <div class="col-sm-10">
                <select class="form-control" id="type" name="type" required>
                    {% for type in types %}
                    <option value={{ type.id }} {% if type.id== project.type %}selected {% endif %}>{{ type.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="intro" class="col-sm-2 control-label">项目简介</label>
            <div class="col-sm-10">
                <textarea name="intro" class="form-control" id="intro" title="项目简介"
                          required>{{ project.intro }}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="need_points" class="col-sm-2 control-label">项目下载所需E点</label>
            <div class="col-sm-10">
                <select class="form-control" id="need_points" name="need_points" required>
                    <option value="0" {% if project.need_points== 0 %}selected {% endif %}>下载所需E点(默认免费)</option>
                    <option value="10" {% if project.need_points== 10 %}selected {% endif %}>10点</option>
                    <option value="30" {% if project.need_points== 30 %}selected {% endif %}>30点</option>
                    <option value="50" {% if project.need_points== 50 %}selected {% endif %}>50点</option>
                    <option value="100" {% if project.need_points== 100 %}selected {% endif %}>100点</option>
                    <option value="200" {% if project.need_points== 200 %}selected {% endif %}>200点</option>
                    <option value="500" {% if project.need_points== 500 %}selected {% endif %}>500点</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">项目图片</label>
            <div class="col-sm-10">
                {% if project.imgs[0] is not empty %}
                <!--dom结构部分-->
                <div id="carousel-example-generic" class="carousel slide noside-tip" data-ride="carousel"
                     style="width: 95%;margin: 0 auto;">
                    <!-- Indicators -->
                    <!--<ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>-->

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="{{ project.imgs[0] }}" target="_blank"><img src="{{ project.imgs[0] }}"
                                                                                           class="show-img img-responsive"
                                                                                           width="100%" height="400px"
                                                                                           alt="{{ project.name }} - {{ project.intro }}"
                                                                                           style="height: 400px"></a>
                            <div class="carousel-caption"></div>
                        </div>
                        {% for img in project.imgs %}
                        {% if img != project.imgs[0] %}
                        <div class="item">
                            <a href="{{ img }}" target="_blank"><img src="{{ img }}"
                                                                               class="show-img img-responsive"
                                                                               width="100%" height="400px"
                                                                               alt="{{ project.name }} - {{ project.intro }}"
                                                                               style="height: 400px"></a>
                            <div class="carousel-caption"></div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button"
                       data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button"
                       data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% else %}
                <p class="text-center">没有上传任何项目图片！</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="desc" class="col-sm-2 control-label">项目详情</label>
            <div class="col-sm-10">
                <textarea name="desc" class="summernote" id="desc" title="描述">{{ project.desc }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="down" class="col-sm-2 control-label">下载数</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="down" name="down" placeholder="下载数"
                       value="{{ project.down }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="like" class="col-sm-2 control-label">点赞数</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="like" name="like" placeholder="点赞数"
                       value="{{ project.like }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="reward" class="col-sm-2 control-label">打赏人数</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="reward" name="reward" placeholder="打赏人数"
                       value="{{ project.reward }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="reward_num" class="col-sm-2 control-label">打赏总金额</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="reward_num" name="reward_num" placeholder="打赏总金额"
                       value="{{ project.reward_num }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="e_points" class="col-sm-2 control-label">所获E点数</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="e_points" name="e_points" placeholder="所获E点数"
                       value="{{ project.e_points }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-sm-2 control-label">审核状态</label>
            <div class="col-sm-10">
                <select class="form-control" id="status" name="status" placeholder="审核状态" required>
                    <option value=0 {% if project.status== 0 %}selected {% endif %}>未审核</option>
                    <option value=1 {% if project.status== 1 %}selected {% endif %}>审核通过</option>
                    <option value=2 {% if project.status== 2 %}selected {% endif %}>审核不通过</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="remark" class="col-sm-2 control-label">审核说明</label>
            <div class="col-sm-10">
                <textarea rows="3" cols="90" name="remark" id="remark"
                          placeholder="审核说明(不得多于100字)">{{ project.remark }}</textarea>
            </div>
        </div>

        <input type="hidden" name="pro_id" value="{{ project.pro_id }}"/>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary ">修改</button>
                <button type="reset" class="btn btn-default">重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var $summernote = $('.summernote').summernote({
        height: 200,
        lang: 'zh-CN',
        placeholder: '请输入项目详细描述（可选），30个段落以内', // 提示
        //调用图片上传
        callbacks: {
            onImageUpload: function (files) {
                sendFile($summernote, files[0]);
            }
        },
        // summernote自定义配置
        toolbar: [
            ['operate', ['undo', 'redo']],
            ['magic', ['style']],
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['para', ['height', 'fontsize', 'ul', 'ol', 'paragraph']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['color', ['color']],
            ['insert', ['picture', 'link', 'table', 'hr']],
            ['layout', ['fullscreen']],
        ]
    });

    //ajax上传图片
    function sendFile($summernote, file) {
        var formData = new FormData();
        formData.append("file", file);
        $.ajax({
            url: "/project/imageUpload",//路径是你控制器中上传图片的方法，下面controller里面我会写到
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                $summernote.summernote('insertImage', data, function ($image) {
                    $image.attr('src', data);
                });
            }
        });
    }
</script>
{% endblock %}
