<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{ BASE_URL }}public/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ BASE_URL }}public/css/back.css" rel="stylesheet" type="text/css"/>

    <script language="JavaScript" src="{{ BASE_URL }}public/js/jquery-3.1.1.min.js"></script>
    <script language="JavaScript" src="{{ BASE_URL }}public/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index/index">
                管理后台
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/user/index">用户管理</a></li>
            <li>
                <ul class="nav navbar-nav navbar-left dropdown">
                    <button class="btn dropdown-toggle" style="background-color: #222222;color: #989898;" type="button"
                            id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        项目管理
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/project/index">项目管理</a></li>
                        <li><a href="/type/index">项目类型</a></li>
                    </ul>
                </ul>
            </li>
            <li><a href="/order/index">订单管理</a></li>
            <li>
                <ul class="nav navbar-nav navbar-left dropdown">
                    <button class="btn dropdown-toggle" style="background-color: #222222;color: #989898;" type="button"
                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        行为记录
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="/consumer/index">消费记录</a></li>
                        <li><a href="/income/index">收益记录</a></li>
                        <li><a href="/down/index">下载记录</a></li>
                        <li><a href="/like/index">点赞记录</a></li>
                        <li><a href="/reward/index">打赏记录</a></li>
                    </ul>
                </ul>
            </li>
            <li><a href="/comment/lists">评论管理</a></li>
            <li><a href="/connect/index">客服中心</a></li>
            <li>
                <ul class="nav navbar-nav navbar-left dropdown">
                    <button class="btn dropdown-toggle" style="background-color: #222222;color: #989898;" type="button"
                            id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        站点相关
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <li><a href="/site/index">站点设置</a></li>
                        <li><a href="/admin/index">管理员管理</a></li>
                    </ul>
                </ul>
            </li>
            <li>
                <ul class="nav navbar-nav navbar-left dropdown">
                    <button class="btn dropdown-toggle" style="background-color: #222222;color: #989898;" type="button"
                            id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Blog
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
                        <li><a href="/blog/index">blog管理</a></li>
                        <li><a href="/bcomment/index">评论管理</a></li>
                    </ul>
                </ul>
            </li>
        </ul>

        <div class="nav navbar-nav navbar-right">
            <a href="/login/loginOut" class="btn btn-sm btn-default navbar-btn">注销</a>
            <a href="{{ BASE_URL }}" class="btn btn-sm btn-default navbar-btn" target="_blank"><span
                    class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        </div>
        <p class="navbar-text navbar-right">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span><strong><i>{{ ADMINNAME }}</i></strong>&nbsp;&nbsp;</span>
        </p>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script language="JavaScript" src="{{ BASE_URL }}public/js/back.js"></script>
<div id="result-show" class="row pull-left invisible"></div>
</body>
</html> 
