{% extends "base.html" %}
{% block content %}
<div class="row">
    <h4>baseFrame框架</h4>
    <hr/>
</div>
<div class="row">
    <table class="table table-bordered">
        <tr>
            <td>
                <p>目前提供功能:</p>
                <p>- 站点基本SEO设置</p>
                <p>- 管理员管理</p>
            </td>
            <td>
                <p>本框架由&nbsp;<strong><i>许文猛</i></strong>&nbsp;开发</p>
                <p>目前版本: <strong>1.0</strong></p>
                <p>联系方式: <strong>xuwenmeng@hotmail.com</strong></p>
            </td>
        </tr>
    </table>
</div>
{% endblock %}